* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    /*é uma cor cinza gelo*/
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    /*ele vira um flex container, isto é, é aquele que todos os itens dele vão ficar em linha, ocupando o maior espaço dentro daquela LINHA  até continuar a borda */
    align-items: center;
    /*alinhamento vertical dos itens */
    justify-content: start;
    /* da esquerda para a direita */
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center;
    /*horizontal*/
    justify-content: space-around;
    /*vertical*/
    flex-direction: column;
    /* existe uma propriedade que se chama flex direction que podemos setar como column, reverse column (mesma coisa da coluna, um embaixo do outro, mas de cima para baixo), roll (padrão) e roll reverse (mesma ideia do column, é a linha ,mas de tras pra frente)*/
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    /*basicamente é um seletor de css que pega os filhos daquele elemento. Nesse caso eu quero os filhos 1, ou seja, quela área de login que eu criei primeiro. O 2 seria aquela parte de trocar de conta*/
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    /*para a imagem não exceder o tamanho da div pra fora */
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /*deixa os elementos com o mesmo espaço dos lado e no meio*/
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}


/*media queries*/

@media(max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media(max-width: 650px) {
    body {
        background-color: white;
    }
    .instagram-wrapper {
        width: 90%;
    }
    .instagram-phone {
        display: none;
    }
    .instagram-continue {
        width: 100%;
    }
    .group {
        border: 1px solid transparent;
    }
}